.nav-link[routerLink],
.nav-link[click],
.nav-link {
  cursor: pointer;
}
.nav-link.active {
  color: #3a86ff !important;
  font-weight: bold;
}
.img-fluid {
  padding-bottom: 20px;
}
.navbar-brand {
  margin: 0;
  padding: 0;
}
