<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="mb-5">
          <h3 class="h1 mb-4 post-title">{{ article.title }}</h3>

          <ul class="card-meta list-inline mb-2">
            <li class="list-inline-item mt-2" *ngIf="author">
              <a
                [routerLink]="['/author', article.idAuthor]"
                class="card-meta-author"
                [title]="'Read all posts by - ' + author.name"
              >
                <img
                  class="author-small-image"
                  [src]="'http://127.0.0.1:3000/getimage/' + author.image"
                  [alt]="author.name"
                />
                by <span>{{ author.name }}</span>
              </a>
            </li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span>{{ article.date | date }}</span>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>17 Nov, 2021</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-5 text-center article-image-container">
          <img
            class="rounded article-main-image"
            [src]="'http://127.0.0.1:3000/getimage/' + article.image"
            [alt]="article.title"
          />
        </div>
      </div>

      <div class="col-lg-8 post-content-block order-0 order-lg-2">
        <div class="content" [innerHTML]="article.content"></div>

        <ul class="post-meta-tag list-unstyled list-inline mt-5">
          <li class="list-inline-item">Tags:</li>
          <li class="list-inline-item" *ngFor="let t of article.tags">
            <a class="bg-white">{{ t }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
